/* @import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.home {
  height: 80vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: 200%;
  background-image: linear-gradient(to bottom left, #fe87c3 0%, #828dfe 50%, #6d58f3 100%);
  transition: background-position 600ms ease-in-out;
}

.home:hover {
  background-position: 100% 0;
}

 */
